.red {
    color: #ff0000;
}

.cards {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgreen;
    height: 150px;
    width: 600px;
}

